.pagination {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 50px;
}

.page-button {
  width: 40px;
  margin: 5px;
  padding: 10px 15px;
  border: 1px solid #ccc;
  background-color: #fff;
  cursor: pointer;
}

.page-button.active {
  background-color: rgb(43, 89, 227);
  color: #fff;
  border-color: rgb(43, 89, 227);
}
