.convo-container {
  display: flex;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  cursor: pointer;
}

.convo-container .info{
  width: 100%;
  margin: 0 20px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  overflow: hidden;
}

.info h3 {
  margin: 0;
  font-size: 1.2rem;
  font-weight: 550;
  color: rgb(45, 45, 45);
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis to the end of overflowing text */
}

.info p {
  margin: 5px 0 0;
  font-size: 0.9rem;
  color: #555;
  white-space: nowrap; /* Prevent text wrapping */
  overflow: hidden; /* Hide overflowing text */
  text-overflow: ellipsis; /* Add ellipsis to the end of overflowing text */
}

.unread h3{
  font-weight: 850;
  color: black;
}

.unread p{
  font-weight: bold;
  color: black;
}

.convo-container:hover {
  background-color: #dbe3ffaf;
}

.convo-container.selected {
  background-color: #beccffaf; /* Highlight selected conversation */
}

.unread-count-badge {
  margin-left: auto;
  background-color: rgb(81, 183, 71);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 25px;
  min-width: 25px;
  border-radius: 50%;
}

.unread-count-badge p{
  color: white;
  font-size: 12px;
  font-weight: bold;
}