.features{
  padding: 0 50px;
  padding-top: 20px;
  padding-bottom: 80px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.feature{
  flex-basis: 20%;
  text-align: center;
}

.features .icon{
  color: black;
  font-size: 30px;
}

.features h2{
  margin: 15px 0;
  font-weight: 600;
}

/* ------ media query ------ */

@media (max-width: 800px){
  .features{
    flex-direction: column;
  }

  .feature{
    margin-bottom: 30px;
  }

}