.search-form{
  background: rgb(43, 89, 227);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 10px;
  padding-left: 25px;
}

.search-form-left{
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-right{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-basis: 20%;
}
.search-input {
  width: 70%;
  height: 40px;
  padding: 0 10px;
  border-radius: 20px 0 0 20px;
  border: none;
  outline: none;
}

.search-btn{
  outline: none;
  border: none;
  margin-right: 5px;
  height: 40px;
  padding: 0 15px;
  background: #51B747;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
}

.search-btn:active {
  transform: scale(0.92); /* Shrinks the button to 95% of its size */
  transition: transform 0.05s ease; /* Adds a smooth transition effect */
}

.search-icon{
  color: white;
  font-size: 25px;
}

.search-form-right .icon{
  color: white;
  font-size: 20px;
  margin: 0 20px;
  transition: transform 0.2s ease;
  cursor: pointer;
}

.search-form-right .icon:hover{
  transform: scale(1.1);
}

/* ------ media query ------ */

@media (max-width: 450px){
  .search-form-right .icon{
    margin: 0 10px;
  }
  .search-input {
    height: 30px;
  }
  .search-btn{
    height: 30px;
  }
  .search-icon{
    font-size: 17px;
  }
  .search-form-right .icon{
    font-size: 15px;
  }
}

