.search-form{
  background: rgb(43, 89, 227);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 17px 10px;
}

.search-form-left{
  flex-basis: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-right{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-basis: 20%;
}

.icon-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-left: 0%;
}

.tooltip {
  visibility: hidden;
  opacity: 0;
  background-color: #333;
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
  font-size: 12px;
  position: absolute;
  bottom: 110%; /* Position above the icon */
  left: 50%;
  transform: translateX(-50%);
  transition: opacity 0.2s ease-in-out, visibility 0.2s ease-in-out;
  max-width: 70px;
}

.icon-wrapper:hover .tooltip {
  visibility: visible;
  opacity: 1;
}

.search-input {
  width: 70%;
  height: 40px;
  padding: 0 10px;
  font-size: 14px;
  border: none;
  outline: none;
  appearance: none;
  border-radius: 0%;
  transition: 0.4s ease;
}

.search-btn{
  outline: none;
  border: none;
  margin-right: 5px;
  height: 40px;
  padding: 0 15px;
  background: #51B747;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0 20px 20px 0;
  transition: 0.4s ease;
}

.dropdown-wrapper {
  position: relative;
  display: inline-block;
}

.category-dropdown {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
  color: white;
  outline: none;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  height: 40px;
  padding-left: 15px;
  font-size: 14px;
  border-radius: 20px 0 0 20px ;
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  transition: 0.4s ease;
}

.category-dropdown:hover{
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.25);
}

.dropdown-icon {
  position: absolute;
  right: 10px; /* Position it inside the dropdown */
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none; /* Prevent icon from blocking clicks on dropdown */
  font-size: 16px;
  color: white;
}

.search-btn:active {
  transform: scale(0.92); /* Shrinks the button to 95% of its size */
  transition: transform 0.05s ease; /* Adds a smooth transition effect */
}

.search-icon{
  color: white;
  font-size: 25px;
}

.search-form-right .icon{
  color: white;
  font-size: 20px;
  /* margin: 0 20px; */
  transition: transform 0.2s ease;
  cursor: pointer;
}

/* .search-form-right .icon:hover{
  transform: scale(1.1);
} */

/* ------ media query ------ */

@media (max-width: 450px){
  .search-form-right .icon{
    margin: 0 10px;
    font-size: 17px;
  }
  .search-form-left{
    width: 100%;
  }
  .search-input {
    height: 35px;
  }
  .category-dropdown {
    height: 35px;
  }
  .search-btn{
    height: 35px;
  }
  .search-icon{
    font-size: 20px;
  }

  .tooltip {
    transform: translateX(-60%);
  }
}

@media (max-width: 400px){
  .search-form{
    flex-direction: column;
  }
  .search-form-right{
    margin-top: 17px;
  }
  .tooltip {
    transform: translateX(-50%);
  }
}

