.category-bar{
  background: #2B59E3;
  display: flex;
  align-items: stretch;
  justify-content: center;
  flex-wrap: wrap;
  height: 60px;
  box-shadow: 0px 4px 6px rgba(33, 33, 33, 0.588);
  padding: 0 5px;
}

.category-btn{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: white;
  margin: 0 30px;
}

.category-btn:hover{
  text-decoration: underline;
}

@media (max-width: 768px) {
  .category-btn {
    margin: 0 18px; /* Reduce margin for smaller screens */
    font-size: 14px; /* Reduce font size slightly */
  }
}

@media (max-width: 480px) {
  .category-btn {
    margin: 0 7px; /* Further reduce margin on very small screens */
    font-size: 12px; /* Smaller font size for compact display */
  }
}