.listings{
  padding-top: 70px;
}

.divider {
  height: 1px;
  background-color: rgb(216, 216, 216);
  width: 100%;
}

.filter-and-matrix{
  width: 100%;
  padding: 50px;
}

/* ------ media query ------ */

@media (max-width: 450px) {
  .filter-and-matrix{
    padding: 50px 20px;
  }
}

@media (max-width: 360px) {
  .filter-and-matrix{
    padding: 50px 10px;
  }
}