.chat-box {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  background-color: #f9f9f9;
}

.chat-box-top{
  height: 70px;
  width: 100%;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  background-color: #beccffaf;
  border-bottom: 2px solid #dbe3ffaf;
}

.pp-and-name{
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.messages-container {
  flex: 1;
  padding: 15px 15px 0 15px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.message-container {
  display: flex;
  width: 100%;
}

.my-message-container {
  justify-content: flex-end;
  margin-bottom: 10px;
}

.other-message-container {
  justify-content: flex-start;
}

.message {
  max-width: 60%;
  padding: 10px;
  border-radius: 10px;
  font-size: 0.9rem;
  word-wrap: break-word;
  position: relative;
  display: inline-block;
}

.message p {
  margin: 0;
  text-align: start;
}

.message-status {
  font-size: 0.75rem;
  color: gray;
  position: absolute;
  bottom: -15px;
  right: 5px;
}

.my-message {
  background-color: rgba(80, 183, 71, 0.383);
  color: #000;
}

.other-message {
  background-color: #fff;
  color: #000;
  border: 1px solid #ddd;
}


.message-input-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-top: 2px solid #dbe3ffaf;
  background-color: #fff;
}

.message-input-container textarea {
  width: 100%;
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 10px;
  outline: none;
  font-size: 1rem;
  transition: 0.4s;
  resize: none;
}
.message-input-container textarea:focus {
  border: 2px solid #51B747;
}

.message-input-container button {
  width: 100px;
  margin-left: 10px;
  padding: 10px ;
  background-color: #2B59E3;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 1rem;
  cursor: pointer;
}

.message-input-container button:hover {
  background-color: #3366ff;
}
  