.other-listings-page{
  display: flex;
  flex-direction: column;
  padding: 120px 30px;
  min-height: 100vh;
}

.title-container{
  margin-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ------ media query ------ */

@media (max-width: 600px) {
  .other-listings-page{
    padding: 120px 20px;
  }
}

@media (max-width: 450px) {
  .other-listings-page{
    padding: 120px 20px;
  }
}

@media (max-width: 365px) {
  .other-listings-page{
    padding: 120px 10px;
  }
}