.user-page{
  padding: 0 70px;
  padding-top: 100px;
  padding-bottom: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: 0.4s ease;
}

/* ------ media query ------ */

@media (max-width: 650px){
  .user-page{
    padding-left: 30px;
    padding-right: 30px;
  }
}